@layer components {
  .header {
    position: relative;
    margin-bottom: var(--sp-56);
    padding-top: var(--sp-88);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    @media (max-width: 48rem) {
      padding-top: var(--sp-28);
    }
    & .mobile-menu-btn {
      display: none;
      z-index: 30;

      @media (max-width: 40rem) {
        display: block;
      }
    }
    & .navbar {
      z-index: 20;

      & .nav-list {
        color: var(--clr-grayish-blue);
        display: flex;
        gap: var(--sp-40);
        transition: transform 0.3s ease;

        @media (max-width: 40rem) {
          position: fixed;
          flex-direction: column;
          top: 0;
          right: 0;
          width: 75%;
          background-color: var(--clr-off-white);
          height: 100vh;
          height: 100dvh;
          padding: var(--sp-144) 0 0 var(--sp-24);
          color: var(--clr-very-dark-blue);
          font-size: var(--fs-18);
          line-height: var(--lh-1-5);
          transform: translateX(100%);
        }

        & .nav-item {
          & .nav-link {
            transition: color 0.3s ease;
            &:hover {
              color: var(--clr-red);
            }
          }
        }
      }
      &.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--clr-very-dark-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;

        & .nav-list {
          @media (max-width: 40rem) {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
